@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* default styles */
* {
  margin: 0;
}
.container {
  width: 90%;
  margin: 3rem auto;
  border-radius: 0.5rem;
}
h3 {
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  word-wrap: break-word;
  line-height: normal;
}
.shared-color {
  color: #ff5400;
}
.btn-primary {
}
/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 2.5rem;
  height: 2.5rem;
}
.nav-options {
  display: flex;
  gap: 1.5rem;
}
.nav-options a {
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.nav-options a:hover {
  color: blueviolet;
}
